@import "colors";
@import "animations";

@mixin fixed-background($url) {
  background: {
    image: url($url);
    size: cover;
    position: center center;
    attachment: fixed;
  }
}

.navbar {
  background-color: rgba(0,0,0,.1);
  transition: all .4s ease-in-out;
  padding: 1.5rem 5rem;

  .brand {
    text-decoration: none;

    span {
      color: white;
      font-size: 2rem;
      vertical-align: middle;
    }

    img {
      max-width: 50px;
    }
  }

  h1 {
    font-family: 'Avenir LT 65 Medium';
    color: white;
  }

  &.scrolled {
    background-color: rgba(0, 0, 0, .6);
    transition: all .4s ease-in-out;
    padding: 0.5rem 5rem;
  }
}

.home-main {
  .background {
    min-height: 800px;
    @include fixed-background('./../asserts/images/1.jpg');
  }

  h1,
  h2 {
    font-family: Avenir-Light,sans-serif;
    color: #fff;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 300px;
    margin-bottom: 0;
  }

}

.hobbies-interests {
  padding-top: 60px;
  padding-bottom: 100px;

  .title {
    font-family: 'Avenir LT 65 Medium';
    font-size: 2rem;
    color: black;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 60px;
  }

  .slide-arrow {
    margin: auto;
    font-size: 2em;
    width: 2em;
    height: 2em;
    border-radius: 0.15em;
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 0 2px $theme-green;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;

    &:hover {
      background-color: $theme-green;

      span {
        color: white;
      }
    }

    span {
      color: $theme-green;
      line-height: 2em;
      transition: transform .2s ease-in-out;
    }
  }

  .slide-arrow.prev {

    &:hover {
      transform: rotate(-45deg);

      span {
        transform: rotate(45deg);
      }
    }
  }

  .slide-arrow.next {

    &:hover {
      transform: rotate(45deg);

      span {
        transform: rotate(-45deg);
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    .items-container {
      padding: 0;
      width: 888px;
      height: 300px;
      list-style: none;
      position: relative;
    }

    .item {
      display: block;
      position: absolute;
      width: 240px;
      margin: auto;
      padding: 0;
      box-shadow: 2px 1px 15px rgb(0, 0, 0);
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        min-height: 240px;
        max-width: 240px;
      }

      div.name {
        height: 60px;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        padding: 22px 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: Avenir-Black,sans-serif;
        background-color: $theme-orange;
        color: #fff;
      }

      &.item:nth-of-type(1) {
        left: 0;
        z-index: 0;
        box-shadow: none;
      }

      &.item:nth-of-type(2) {
        left: 0;
        z-index: 1;
      }

      &.item:nth-of-type(3) {
        transform: scale(1.1);
        left: 120px;
        z-index: 2;
      }

      &.item:nth-of-type(4) {
        transform: scale(1.2);
        left: 324px;
        z-index: 3;
      }

      &.item:nth-of-type(5) {
        transform: scale(1.1);
        left: 528px;
        z-index: 2;
      }

      &.item:nth-of-type(6) {
        left: 648px;
        z-index: 1;
      }

      &.item:nth-of-type(7) {
        left: 648px;
        z-index: 0;
        box-shadow: none;
      }
    }
  }
}

.learn-more {
  color: white;
  font-family: 'Avenir LT 65 Medium';
  padding: 60px;
  min-height: 400px;
  @include fixed-background('./../asserts/images/3.jpg');

  .title {
    font-family: 'Avenir LT 65 Medium';
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 60px;
  }

  .tip {
    font-size: 1.5rem;
  }

  ul {
    list-style: none;

    a {
      font: {
        family: 'Geomanist-Light';
        style: italic;
        size: 1.5rem;
      }
      color: $color-links;
    }
  }
}

footer {
  background-color: $theme-green;
  padding: 30px 0;

  .title {
    font-family: 'Avenir LT 65 Medium';
    font-size: 2rem;
    color: white;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }

  .portrait {
    max-height: 100px;
    max-width: 100px;
  }

  .brief-introduction {
    font-family: 'Avenir LT 65 Medium';
    color: white;
    margin-left: 10px;
  }

  .personal-links {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    li {
      position: relative;
      margin: auto;
      height: 50px;
      width: 50px;
      text-align: center;

      .popover {
        display: none;
        top: -225px;
        left: -75px;
        border: $theme-orange solid 2px;
        border-radius: 10px;

        .arrow {
          left: 80px;
          width: 1.6rem;
          height: .8rem;
          bottom: calc((.8rem + 1px) * -1);

          &:before {
            bottom: -1px;
            border-top-color: $theme-orange;
            border-width: .8rem .8rem 0;
          }

          &:after {
            bottom: 1px;
            border-top-color: white;
            border-width: .8rem .8rem 0;
          }
        }

        img {
          max-width: 200px;
          border-radius: 10px;
        }
      }

      &:hover {
        .popover {
          display: block;
        }
      }

      .icon {
        width: 40px;
        transition: all .1s ease-in;

        &:hover {
          width: 50px;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    color: rgba(66, 66, 66, 0.8);
    border-top: rgba(255, 255, 255, 0.5) solid 1px;
    padding-top: 10px;
    margin-top: 20px;

    span:hover {
      color: black;
    }
  }
}

.top {
  display: block;
  width: 60px;
  height: 60px;
  color: white;
  font-weight: bold;
  position: fixed;
  right: 2%;
  bottom: 2%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, .3);
  }

  span {
    line-height: 20px;
    display: block;
    text-align: center;
  }

  span:first-child {
    font-size: 20px;
  }

  span:last-child {
    font-family: Avenir-Light,sans-serif;
  }

}

.fade-in {
  opacity: 1;
  visibility: visible;
  animation: fade-in 1 .5s linear;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  animation: fade-out 1 .5s linear;
}
