.ProjectExperience {
  width: 80%;

  h2 {
    color: white;
    width: 100%;
    text-align: center;
  }
  .projects {
    margin-top: 1rem;

    .project {

      .paper {
        position: relative;
        height: 400px;
        background-color: white;
        filter: drop-shadow(0 0 15px #bbb);
        border-bottom-right-radius: 40px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 40px;
          height: 40px;
          background: linear-gradient(to left top, transparent, #ddd);
        }
      }
    }
  }
}