.ProjectExperience {
  width: 80%;

  h2 {
    color: white;
    width: 100%;
    text-align: center;
  }
  .projects {
    margin-top: 2rem;

    .project {

      &:first-child .paper {
        background-color: #ccf;
      }

      .paper {
        position: relative;
        margin: auto;
        height: 400px;
        background-color: #fec;
        border-radius: 2px;


        &::before, &::after {
          content: '';
          position: absolute;
          bottom: 5px;
          width: 40%;
          height: 5px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          z-index: -1;
        }

        &::before {
          left: 10px;
          transform: skew(-5deg) rotate(-5deg);
        }

        &::after {
          right: 10px;
          transform: skew(5deg) rotate(5deg);
        }
      }
    }
  }
}