.ProjectExperience {
  width: 80%;

  h2,
  h5 {
    color: white;
    width: 100%;
    text-align: center;

    span {
      font-size: .9rem;
    }
  }

  .projects {
    margin-top: 2rem;

    .project {
      &:first-child .paper h6 {
        background-color: #1cc7c7;
      }

      .paper {
        position: relative;
        margin: auto;
        height: auto;
        background-color: white;
        border-radius: 2px;

        h6 {
          color: white;
          padding: .5rem;
          text-align: center;
          background-color: #8a67b2;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;

          a {
            color: white;
            text-decoration: underline;
          }
        }

        .intro {
          color: #9f9f9f;
          padding: .5rem 1rem 1rem 1rem;
        }


        &::before, &::after {
          content: '';
          position: absolute;
          bottom: 5px;
          width: 40%;
          height: 5px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          z-index: -1;
        }

        &::before {
          left: 10px;
          transform: skew(-5deg) rotate(-5deg);
        }

        &::after {
          right: 10px;
          transform: skew(5deg) rotate(5deg);
        }
      }
    }
  }
}