.resume-container {
  font-family: 'Avenir LT 65 Medium';

  > nav {
    color: white;
    background-color: rgba(0, 0, 0, .1);

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }

    .lang-toggle {
      list-style: none;
      font-size: 16px;
      font-weight: bold;
      padding: 0;
      border: white solid 2px;
      background-color: transparent;

      li {
        width: 100px;

        .flag {
          padding-left: .5rem;
          max-height: 24px;
        }

        span {
          padding-left: .5rem;
        }
      }

      .active {
        cursor: default;
        color: black;
        background-color: white;
      }

      .inactive {
        cursor: pointer;
        color: white;
        background-color: transparent;

        &:hover {
          text-shadow: 0 0 1px white;
        }
      }
    }

    a {
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 1rem;
      position: relative;
      text-align: center;
      text-decoration: none;

      &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 100%;
        border-bottom: white solid 2px;
        transition: .2s width linear;
      }

      &::before {
        left: 10%;
      }

      &::after {
        right: 10%;
      }

      &:hover::before, &:hover::after {
        width: 40%;
      }
    }
  }

  @media (max-width: 576px) {
    > nav {
      padding: 2rem 5rem;
    }
  }

  @media (min-width: 576px) {
    > nav {
      padding: 2rem 5rem;
    }
  }

  @media (min-width: 768px) {
    > nav {
      padding: 2rem 6rem;
    }
  }

  @media (min-width: 992px) {
    > nav {
      padding: 2rem 8rem;
    }
  }

  @media (min-width: 1200px) {
    > nav {
      padding: 2rem 10rem;
    }
  }

  .basic-info {
    color: white;

    .photo-container {
      text-align: center;

      .photo {
        width: 9rem;
        height: 12rem;
        border: white solid 2px;
        box-shadow: 3px 3px 5px #333;
      }
    }

    .names {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }

    .infos {
      margin-top: 5rem;

      .info {
        padding-left: .5rem;
        vertical-align: sub;
        color: white;
        font-weight: bold;
      }

      a {
        text-decoration: none;
      }
    }
  }

  .project-experience {
    background: {
      image: url('./../asserts/images/professional-skills-background.jpg');
      size: cover;
      position: center center;
    }
  }

  .professional-skills {
    h1 {
      text-align: center;
      color: white;
      margin-bottom: 2rem;
    }
  }

  .self-evaluation {
    background: {
      image: url('./../asserts/images/self-evaluation-background.jpg');
      size: cover;
      position: center center;
    }

    h1 {
      text-align: center;
      color: white;
    }
  }

}

.anchors {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 100;
  list-style: none;

  li {
    height: 20px;
    margin: 10px;
    position: relative;

    .tip {
      color: white;
      font-weight: bold;
      line-height: 20px;
      float: left;
      width: 0;
      overflow: hidden;
      right: 30px;
      bottom: 1px;
      opacity: 0;
      transform: rotate(-45deg);
      transform-origin: calc(100% + 16px) bottom;
      transition: .2s all linear;
    }

    a {
      display: block;
      float: right;
      height: 6px;
      width: 6px;
      margin-top: 7px;
      margin-left: 10px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 50%;
      background-color: white;
      transition: .2s transform linear;
    }

    &:hover, &.active {
      a {
        transform: scale(2)
      }
    }

    &:hover {
      .tip {
        width: auto;
        overflow: auto;
        opacity: 1;
        transform: rotate(0);
      }
    }
  }
}

.absoulte-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-video {
  position: absolute;
}

.text-shadow {
  text-shadow: 3px 3px 5px #333;
}