body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'Avenir LT 86 Heavy Oblique';
  src: url('./asserts/fonts/Avenir LT 86 Heavy Oblique.ttf');
}

@font-face {
  font-family: 'Avenir LT 65 Medium';
  src: url('./asserts/fonts/Avenir LT 65 Medium.ttf');
}

@font-face {
  font-family: 'Avenir LT 85 Heavy';
  src: url('./asserts/fonts/Avenir LT 85 Heavy.ttf');
}

@font-face {
  font-family: 'Geomanist-Light';
  src: url('./asserts/fonts/Geomanist-Light.ttf');
}

@font-face {
  font-family: 'Geomanist-ExtraLight';
  src: url('./asserts/fonts/Geomanist-ExtraLight.ttf');
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
