<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="Expires" content="1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Henri</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DR2MVN6P80"
    ></script>

    <!-- GrowingIO Analytics code version 2.1 -->
    <!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->

    <script type="text/javascript">
      !(function(e, t, n, g, i) {
        (e[i] =
          e[i] ||
          function() {
            (e[i].q = e[i].q || []).push(arguments);
          }),
          (n = t.createElement('script')),
          (tag = t.getElementsByTagName('script')[0]),
          (n.async = 1),
          (n.src =
            ('https:' == document.location.protocol ? 'https://' : 'http://') +
            g),
          tag.parentNode.insertBefore(n, tag);
      })(window, document, 'script', 'assets.giocdn.com/2.1/gio.js', 'gio');
      gio('init', '915ab930d96e3d91', {});

      //custom page code begin here

      //custom page code end here

      gio('send');
    </script>

    <!-- End GrowingIO Analytics code version: 2.1 -->
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="henri"></div>
  </body>
</html>
